@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import "tailwindcss";



@theme {
    --font-primary:"Aldrich", "sans-serif";
    --font-titillium-web:"Titillium Web", "sans-serif";
}

@keyframes addColor {
    0% {
      -webkit-mask-position: 0% 0%;
      mask-position: 0% 0%;
    }
    100% {
      -webkit-mask-position: 100% 0%;
      mask-position: 100% 0%;
    }
  }
  
  .mask-animation {
    animation: addColor 1s steps(23) forwards;
  }